.household-user-row {
  display: flex;
}
.household-user-row .ant-select.ant-select-in-form-item {
  flex: 1 !important;
  min-width: 0 !important;
}
.household-user-row ~ .household-user-row {
  margin-top: 10px;
}
