.select-department-drawer .ant-drawer-header {
  height: 59px;
  padding-left: 15px;
}
.select-department-drawer .ant-drawer-header .ant-drawer-close {
  margin-right: 8px;
}
.select-department-drawer .ant-drawer-body {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 0;
}
.select-department-drawer .ant-drawer-body .table-content {
  height: calc(100vh - 200px);
  padding-left: 20px;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-list .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
  color: rgba(0, 0, 0, 0.85);
}
.select-department-drawer .ant-drawer-body .table-content .ant-input-affix-wrapper {
  width: 100% !important;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 413px;
  height: 40px;
  padding: 0;
  padding-left: 8px;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-switcher {
  display: flex;
  align-items: center;
  width: 15px;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-switcher span {
  color: #999;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-title {
  padding-left: 4px;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tooltip {
  max-width: 95%;
  padding-top: 0px;
  white-space: wrap;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tooltip .ant-tooltip-arrow {
  display: none;
}
.select-department-drawer .ant-drawer-body .table-content .ant-tree-checkbox {
  position: absolute;
  right: 10px;
}
.select-department-drawer .ant-drawer-body .ant-tree-list-holder-inner .ant-tree-treenode:nth-of-type(odd) {
  background: #f9fafc;
}
.select-department-drawer .ant-drawer-body .ant-tree-list-holder-inner .ant-tree-treenode:nth-of-type(even) {
  background: #fff;
}
.select-department-drawer .pagination-info {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding-left: 27px;
  background: #f8f8f8;
}
.select-department-drawer .pagination-info .ant-checkbox-wrapper {
  color: #999999;
}
.select-department-drawer .pagination-info .check-info > span:first-child {
  color: #999999;
  font-size: 14px;
}
.select-department-drawer .pagination-info .check-info > span:last-child {
  color: #0178ff;
  font-size: 14px;
  cursor: pointer;
}
.select-department-drawer .pagination-info .radio-check-info > span:first-child {
  color: #999999;
  font-size: 14px;
}
.select-department-drawer .pagination-info .radio-check-info > span:nth-of-type(2) {
  color: #0178ff;
  font-size: 14px;
}
.select-department-drawer .pagination-info .radio-check-info > span:nth-of-type(3) svg {
  margin-left: 30px;
  color: #bbbbbb;
  font-size: 14px;
  cursor: pointer;
}
.select-department-drawer .ant-drawer-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #fefefe;
}
.select-department-drawer .ant-drawer-footer button {
  width: 120px;
  height: 32px;
  border-radius: 4px;
}
.select-department-drawer .ant-drawer-footer button:first-child {
  margin-right: 0;
}
.select-department-drawer .ant-drawer-footer button:first-of-type {
  background: #f1f1f1;
  border: none;
  border-radius: 4px;
}
.select-department-drawer .ant-drawer-footer button:first-of-type span {
  color: #010101;
}
.selected-department-drawer .ant-drawer-header {
  height: 59px;
  padding-left: 15px;
}
.selected-department-drawer .ant-drawer-header .ant-drawer-close {
  margin-right: 8px;
}
.selected-department-drawer .ant-drawer-body {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 0;
}
.selected-department-drawer .ant-drawer-body .table-content {
  height: calc(100vh - 200px);
  padding-left: 20px;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-list .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
  color: rgba(0, 0, 0, 0.85);
}
.selected-department-drawer .ant-drawer-body .table-content .ant-input-affix-wrapper {
  width: 100% !important;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 413px;
  height: 40px;
  padding: 0;
  padding-left: 8px;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-switcher {
  display: flex;
  align-items: center;
  width: 15px;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-switcher span {
  color: #999;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tree-title {
  padding-left: 4px;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tooltip {
  max-width: 95%;
  padding-top: 0px;
  white-space: wrap;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-treenode .ant-tooltip .ant-tooltip-arrow {
  display: none;
}
.selected-department-drawer .ant-drawer-body .table-content .ant-tree-checkbox {
  position: absolute;
  right: 10px;
}
.selected-department-drawer .ant-drawer-body .ant-tree-list-holder-inner .ant-tree-treenode:nth-of-type(odd) {
  background: #f9fafc;
}
.selected-department-drawer .ant-drawer-body .ant-tree-list-holder-inner .ant-tree-treenode:nth-of-type(even) {
  background: #fff;
}
.selected-department-drawer .pagination-info {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding-left: 27px;
  background: #f8f8f8;
}
.selected-department-drawer .pagination-info .ant-checkbox-wrapper {
  color: #999999;
}
.selected-department-drawer .pagination-info .check-info > span:first-child {
  color: #999999;
  font-size: 14px;
}
.selected-department-drawer .pagination-info .check-info > span:last-child {
  color: #0178ff;
  font-size: 14px;
  cursor: pointer;
}
.selected-department-drawer .pagination-info .radio-check-info > span:first-child {
  color: #999999;
  font-size: 14px;
}
.selected-department-drawer .pagination-info .radio-check-info > span:nth-of-type(2) {
  color: #0178ff;
  font-size: 14px;
}
.selected-department-drawer .pagination-info .radio-check-info > span:nth-of-type(3) svg {
  margin-left: 30px;
  color: #bbbbbb;
  font-size: 14px;
  cursor: pointer;
}
.selected-department-drawer .ant-drawer-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #fefefe;
}
.selected-department-drawer .ant-drawer-footer button {
  width: 120px;
  height: 32px;
  border-radius: 4px;
}
.selected-department-drawer .ant-drawer-footer button:first-child {
  margin-right: 0;
}
.selected-department-drawer .ant-drawer-footer button:first-of-type {
  background: #f1f1f1;
  border: none;
  border-radius: 4px;
}
.selected-department-drawer .ant-drawer-footer button:first-of-type span {
  color: #010101;
}
.selected-department-drawer .ant-drawer-body {
  padding: 20px 0 0 0;
}
.selected-department-drawer .ant-drawer-body .table-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  padding: 0 20px;
}
.selected-department-drawer .ant-tooltip-inner {
  color: #000;
}
.selected-department-drawer .ant-drawer-body .row {
  display: flex;
  align-items: center;
}
.selected-department-drawer .ant-drawer-body .row .file {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 9px;
  background: url('./images/file.png');
  background-size: 100% 100%;
}
.selected-department-drawer .ant-table-header thead > tr > th {
  background-color: #f3f3f3;
  border: none;
}
.selected-department-drawer .selected-dept-popover {
  left: 84px !important;
  max-width: 80%;
}
.selected-department-drawer .selected-dept-popover .ant-popover-inner-content {
  padding: 10px;
}
.selected-department-drawer .selected-dept-popover .ant-popover-inner {
  color: #000000;
  border-radius: 4px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
}
.dropdown-menu .ant-dropdown-menu {
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}
.dropdown-menu .ant-dropdown-menu-item {
  text-align: center;
}
