.kht-account-popover {
  z-index: 1110;
}
.kht-account-popover .ant-popover-inner {
  width: 320px;
  min-height: 262px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 1px rgba(7, 7, 7, 0.13);
}
.kht-account-popover .ant-popover-inner-content {
  padding: 25px 15px 35px;
}
.kht-account-popover .kht-account-popover-content .content-row {
  display: flex;
  margin-bottom: 19px;
}
.kht-account-popover .kht-account-popover-content .content-row:last-child {
  margin-bottom: 0;
}
.kht-account-popover .kht-account-popover-content .content-lable {
  width: 60px;
  color: #999;
  font-size: 14px;
  font-family: Microsoft YaHei;
}
.kht-account-popover .kht-account-popover-content .content-inner {
  flex: 1;
  margin-left: 20px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}
.kht-account-popover .kht-account-popover-content .content-tags {
  flex: 1;
  max-height: 90px;
  margin-left: 20px;
  overflow-y: overlay;
}
.kht-account-popover .kht-account-popover-content .content-tags .tags {
  width: max-content;
  height: 24px;
  padding: 0 8px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background: #f3f3f3;
  border-radius: 4px;
}
.kht-account-popover .kht-account-popover-content .name-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 15px;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .name {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  font-family: Microsoft YaHei;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .name > span {
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .name > img {
  margin-left: 10px;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .identity-label {
  width: 60px;
  color: #999;
  font-size: 14px;
  font-family: Microsoft YaHei;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .identity {
  width: 29px;
  min-width: 47px;
  height: 24px;
  margin-left: 54px;
  padding: 0 5px;
  color: #f79800;
  font-size: 14px;
  font-family: Microsoft YaHei;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #f79800;
  border-radius: 4px;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .wechart-identity {
  width: 29px;
  min-width: 47px;
  height: 24px;
  margin-left: 54px;
  padding: 0 5px;
  color: #f79800;
  font-size: 14px;
  font-family: Microsoft YaHei;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #f79800;
  border-radius: 4px;
  color: #54b556;
  border: 1px solid #54b556;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .wxwork-identity {
  width: 29px;
  min-width: 47px;
  height: 24px;
  margin-left: 54px;
  padding: 0 5px;
  color: #f79800;
  font-size: 14px;
  font-family: Microsoft YaHei;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #f79800;
  border-radius: 4px;
  color: #2a8efc;
  border: 1px solid #2a8efc;
}
.kht-account-popover .kht-account-popover-content .name-container .name-box .account {
  width: 29px;
  min-width: 47px;
  height: 24px;
  margin-left: 54px;
  padding: 0 5px;
  color: #f79800;
  font-size: 14px;
  font-family: Microsoft YaHei;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #f79800;
  border-radius: 4px;
  color: #333;
  border: none;
}
