.project-screen-drawer .ant-drawer-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #fefefe;
}
.project-screen-drawer .ant-drawer-footer button {
  width: 120px;
  height: 32px;
  border-radius: 4px;
}
.project-screen-drawer .ant-drawer-footer button:first-child {
  margin-right: 0;
}
.project-screen-drawer .content-wrapper .content-item {
  display: flex;
  margin-bottom: 20px;
}
.project-screen-drawer .content-wrapper .content-item .item-label {
  margin-right: 36px;
}
.project-screen-drawer .content-wrapper .content-item .item-detail {
  position: relative;
  display: flex;
  flex-direction: column;
}
.project-screen-drawer .content-wrapper .content-item .item-detail > span:last-child {
  width: max-content;
  color: #0178ff;
  cursor: pointer;
}
.tab-wrapper .ant-tabs-nav {
  margin: -5px -20px 5px -20px;
  padding-right: 20px;
  padding-left: 20px;
}
