.city-cascader .ant-cascader-menu {
  overflow: auto !important;
  /* 1,滚动条 */
  /* 2,滚动条两端的按钮 */
  /* 3,外层轨道 */
  /* 4.内层轨道，它会覆盖外层轨道的样式。 */
  /* 5,滑块 */
}
.city-cascader .ant-cascader-menu::-webkit-scrollbar {
  width: 4px;
  /* 纵向滚动条 宽度 */
  height: 4px;
  /* 横向滚动条 高度 */
  background: transparent;
  /* 整体背景 */
  border-radius: 2px;
  /* 整体 圆角 */
}
.city-cascader .ant-cascader-menu::-webkit-scrollbar-button {
  width: 0;
  /* 横向滚动条 宽度 */
  height: 0;
  /* 纵向滚动条 高度 */
}
.city-cascader .ant-cascader-menu::-webkit-scrollbar-track {
  border-radius: 2px;
}
.city-cascader .ant-cascader-menu::-webkit-scrollbar-track-piece {
  border-radius: 2px;
}
.city-cascader .ant-cascader-menu::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 2px;
}
